


  .content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: auto;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: scroll;
}
.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title {
    color: #bfcbd9;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

/* 文件上传按钮宽高 */
.el-upload--text{
    margin-top: 5px;
    font-size: 12px;
    color: white;
    width: 190px;
    height: 30px;
    background: lightslategray;
    border-radius: 9px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 4px 10px 0px lightslategray;
    
}

